<!doctype html>
<html>
<head>
  <title>write - community</title>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/css/style.css'>
</head>
<body>
  <h1>
    <a class="appbar" href="/">community</a>
  </h1>
  <p class="container">
    <form action="/topic/create_process" method="post">
      <p>
        <input type="text" name="title" placeholder="제목을 입력하세요">
      </p>
      <p>
        <textarea name="description" placeholder="내용을 입력하세요"></textarea>
      </p>
      <p>
        <input type="submit" value='create'>
      </p>
    </form>
  </p>
</body>
</html>